<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Карта школы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}"/>
</head>
<body>
<header class="header">
    <a href="" class="header-logo">
        <img src="{{ url_for('static', filename='other/uunit.svg') }}" alt="" class="header-photo">
    </a>
    <div class="header-level">
        <div class="header-level">
            {% for i in range(1, 4) %}
            <button class="level {% if active_level == i %}active{% endif %}"
                    onclick="location.href='{{ url_for('index', level=i) }}'">
                {{ i }}
            </button>
            {% endfor %}
        </div>
    </div>
</header>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
