<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Карта школы</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" />
</head>
<body>
    <header class="header">
        <a href="" class="header-logo">
            <img src="{{ url_for('static', filename='other/uunit.svg') }}" alt="" class="header-photo">
        </a>
        <div class="header-level">
            <button class="level active">
                1
            </button>
            <button class="level">
                2
            </button>
            <button class="level">
                3
            </button>
        </div>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
